<!DOCTYPE html>
<html lang="en-us" dir="ltr">
   <head>
       <!-- Google Tag Manager -->
       <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NCXJXW');</script>
       <!-- End Google Tag Manager -->
      <title>Stopwatch</title>
      <link rel="canonical" href=""/>
      <script type="application/ld+json"></script>
      <meta property="og:url" content="/stopwatch"/>
      <meta property="og:site_name" content="StopWatch"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="theme-color" content="#AE3B27" />
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
      <link rel="manifest" href="manifest.json">
      <link rel="stylesheet" href="libs/stopwatch/css/display.css">
      <link rel="stylesheet" href="stylesheets/base.css">
      <link rel="stylesheet" href="stylesheets/stopwatch.css">
      <link rel="stylesheet" href="libs/fontawesome-pro/css/fontawesome.css">
      <link rel="stylesheet" href="libs/fontawesome-pro/css/duotone.css">
   </head>
   <body>
       <!-- Google Tag Manager (noscript) -->
       <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCXJXW"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
       <!-- End Google Tag Manager (noscript) -->
      <main>
         <div id="app">
            <div class="tab-controls"><a id="toggle-stopwatch" v-on:click="currentTab = 'stopwatch'"><i class="fad fa-stopwatch"></i><span>Stopwatches</span></a><a id="toggle-archive" v-if="archive.data.length &gt; 0" v-on:click="currentTab = 'archive'"><i class="fad fa-archive"></i><span>Archives</span></a><a id="toggle-settings" v-on:click="currentTab = 'settings'"><i class="fad fa-sliders-h"></i><span>Settings</span></a><a id="toggle-settings" v-on:click="currentTab = 'about'"><i class="fad fa-address-card"></i><span>About</span></a></div>
            <div class="tab stopwatches-tab" v-show="currentTab === 'stopwatch'">
               <div class="stopwatches">
                  <div class="stopwatch" v-for="(instance, index) in stopwatches.data" is="stopwatch" v-bind:index="index" v-bind:settings="settings" v-bind:local-settings="instance.settings" v-bind:stopwatch="instance.stopwatch" display="textdisplay" v-bind:show-controls="settings.render.showControls" v-bind:show-splits="settings.render.showSplits" v-bind:mutable="true"><button class="float-left" v-on:click="removeStopWatch(index)"><i class="fad fa-trash"></i><span>Delete</span></button><button class="float-left" v-on:click="cloneStopwatch(index)"><i class="fad fa-clone"></i><span>Clone</span></button></div>
                  <button class="add" v-if="stopwatches.data.length &lt; 9" v-on:click="addStopWatch()"><i class="fad fa-plus fa-5x"></i><span>Add Stopwatch</span></button>
               </div>
            </div>
            <div class="tab" id="archive" v-show="currentTab === 'archive'">
               <div class="archives">
                  <div class="stopwatch" v-for="(instance, index) in archive.data" is="stopwatch" v-bind:index="index" v-bind:settings="settings" v-bind:local-settings="instance.settings" v-bind:stopwatch="instance.stopwatch" display="textdisplay" v-bind:show-splits="settings.render.showSplits" v-bind:mutable="false"><button v-on:click="removeArchivedStopwatch(index)"><i class="fad fa-trash"></i><span>Delete</span></button><button v-on:click="unarchiveStopwatch(index)">Unarchive</button></div>
               </div>
            </div>
            <div class="tab" id="settings" v-show="currentTab === 'settings'">
               <h2>Settings</h2>
               <h3>Formatting</h3>
               <select v-model="settings.locale" v-on:change="saveSettings">
                  <option value="en-us">US</option>
                  <option value="en-uk">EU</option>
               </select>
               <h3>Font Size</h3>
               <p><label for="totalDurationFontSize">Total Duration Font Size:</label>
                   <input type="range" name="totalDurationFontSize" min="0.2" max="1" step="0.2" v-model="settings.totalDuration.fontSize.value" v-on:change="saveSettings">
                   <span v-if="debug">{{ settings.totalDuration.fontSize.value }}{{ settings.totalDuration.fontSize.unit }}</span>
               </p>
               <p>
                   <label for="splitDurationFontSize">Split Duration Font Size:</label>
                   <input type="range" name="splitDurationFontSize" min="0.2" max="1" step="0.2" v-model="settings.splitDuration.fontSize.value" v-on:change="saveSettings">
                   <span v-if="debug"> {{ settings.splitDuration.fontSize.value }}{{ settings.splitDuration.fontSize.unit }}</span>
               </p>
               <h3>View</h3>
               <p><input type="checkbox" v-model="settings.render.showSplits" v-on:change="saveSettings"><span>Show Splits on each Stopwatch</span></p>
               <p><input type="checkbox" v-model="settings.render.showControls" v-on:change="saveSettings"><span>Show Controls for each Stopwatch</span></p>
            </div>
            <div class="about" v-show="currentTab == 'about'">
               <h2>What is it?</h2>
               <p>This is a tool made for managing multiple stopwatches and handling various scenarios that other stopwatch tools cannot handle.  This stopwatch is stores stopwarch information in the localStorage of the browser, so it can work/store executions without any internet access on a device.</p>
               <h3>Naming stopwatches / color coding</h3>
               <p>During a track & field race, I don't want to have to keep track of which stopwatch corresponds to which competitor.  By color coding stopwatches according to team colors, and naming stopwatches I can quickly determine which stopwatch corresponds to which team and which competitor.</p>
               <h3>Cloning another Stopwatch</h3>
               <p>If you want another copy of an existing stopwatch, you can clone an existing stopwatch, so that you can reuse when the stopwatch was started, as well as the splits that have been measured up until that point.</p>
               <p>This was written with the intent of track & field races.  Sometimes during a race I decide I want to measure the splits of more athletes, but I only had one stopwatch, or had no way of retaining the original start time on the new stopwatch.  This way, I could clone my existing stopwatch to keep the original start time of the race as well as optionally keeping the splits from the original stopwatch.</p>
               <h3>Modifying splits</h3>
               <p>Sometimes during track & field meets, my splits would be off because I could not see exactly where a distance marker was.  This caused the subsequent split to be wrong because my recorded split was too early/late.  By being able to edit splits after they are taken, I can later cross-reference my splits with the official splits so that they are all accurate.</p>
            </div>
         </div>
      </main>
      <footer></footer>
   </body>
   <script type="text/javascript" src="libs/stopwatch/js/stopwatch.js"></script>
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
   <script type="text/javascript" src="scripts/app.js" async="true"></script>
   <script type="text/javascript">
   if ('serviceWorker' in navigator) {
       window.addEventListener('load', function() {
           navigator.serviceWorker.register('service-worker.js', {scope: '/stopwatch/'}).then(function(registration) {
               // Registration was successful
               console.log('ServiceWorker registration successful with scope: ', registration.scope);
           }, function(err) {
               // registration failed :(
               console.log('ServiceWorker registration failed: ', err);
           });
       });
   }
   </script>
</html>
