<mat-card id="{{ getInstance().id }}" appearance="outlined" class="pb-3">
  <mat-card-header class="d-flex align-items-center">
    <div class="flex-grow-1">
        <mat-card-title>{{ getInstance().annotation.title }}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </div>

    <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" >
        <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
        </button>
    </mat-menu>
    
  </mat-card-header>
  <mat-card-content class="text-center"></mat-card-content>
</mat-card>