<app-header></app-header>

<main class="main container-fluid">
  <router-outlet></router-outlet>
</main>

<footer class="container-fluid py-2">
  <dl class="d-flex m-0 justify-content-between">
    <div class="d-flex">
      <dt>Build Date</dt>
      <dd class="ms-1">
        <time [dateTime]="rawBuildDate">{{ buildDate }}</time>
      </dd>
    </div>
    <div class="d-flex">
      <dt>Version</dt>
      <dd class="ms-1">
        <data [value]="version">{{ version }}</data>
      </dd>
    </div>
  </dl>
</footer>