:root {
  --backgroundColor: #FFF;
  --textColor: #000;
  --menuBackgroundColor: #DDD;
  --menuBackgroundColorActive: #BBB;
  --buttonColor: rgba(75, 75, 75, 0.25);
  --buttonActiveColor: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #000;
    --textColor: #FFF;
    --menuBackgroundColor: #222;
    --menuBackgroundColorActive: #444;
    --buttonColor: rgba(175, 175, 175, 0.5);
    --buttonActiveColor: rgba(255, 255, 255, 0.75);
  }
}

main, div#app {
  background: var(--backgroundColor);
  height: 100vh;
  color: var(--textColor);
}

a[href], button {
  -ms-touch-action: none; /* IE10 */
  touch-action: none;
}

/* tabs */
div.tab-container {
  width: 100%;
  height: calc(100vh - 48px);
  overflow: hidden;
  position: relative;
}

div.tab {
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: auto;
  will-change: transform, opacity;
  transition: transform 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s;
}

div.tab.visible {
  opacity: 1;
}

div.tab.invisible {
  opacity: 0;
}

div.tab.invisible#stopwatches {
  transform: translateX(-100%);
}

div.tab.visible + div.tab.invisible#archive {
  transform: translateX(100%);
}

div.tab.invisible + div.tab.invisible#archive {
  transform: translateX(-100%);
}

div.tab.visible ~ div.tab.invisible#settings {
  transform: translateX(100%) !important;
}

div.tab.invisible + div.tab.invisible#settings {
  transform: translateX(-100%);
}

div.tab.invisible#about {
  transform: translateX(100%);
}

div.tab-controls {
    text-align: center;
    display: flex;
    background: var(--menuBackgroundColor);
    cursor: pointer;
    flex-grow: 1;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.5);
}

div.tab-controls .active {
  background: var(--menuBackgroundColorActive);
}

div.tab-controls a {
    cursor: pointer;
    flex-grow: 1;
    padding: 1em 0;
    line-height: 0;
}

div.tab-controls a:not(:last-child), div.controls button:not(:last-child) {
    border-right: 1px solid var(--backgroundColor);
}


div.tab#about, div.tab#settings {
  box-sizing: border-box;
  padding: 0.5em;
}

div.tab#stopwatches {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* stopwatch grid */
.stopwatch-grid {
  border: 0;
  display: grid;
  gap: 10px;
  transition: transform 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946), border 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  margin-bottom: 4em;
}

@media only screen and (min-width: 1200px) {
  .stopwatch-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .stopwatch-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
  .stopwatch-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 599px) {
  .stopwatch-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.stopwatch-grid.select-multiple {
  border: 2px solid var(--buttonColor);
  position: relative;
  transform: perspective(50em) translate3d(0, 0, -7em);
}

.stopwatch-grid.select-multiple .stopwatch::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.stopwatch-grid .stopwatch {
  transition: transform 100ms linear, box-shadow 100ms linear;
  will-change: transform, box-shadow;
}

.stopwatch-grid .selected {
  background: var(--backgroundColor);
  border:
  -webkit-box-shadow: 0px 0px 5px 5px var(--buttonActiveColor);
  box-shadow: 0px 0px 5px 5px var(--buttonActiveColor);
  transform: perspective(50em) translateZ(1em);
}

.bulk {
  background: var(--backgroundColor);
  position: fixed;
  bottom: 0;
  text-align: center;
  transition: transform 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946), box-shadow 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
  will-change: transform;
  transform: translateY(100%);
  width: 100%;
}

.bulk.active {
  bottom: 0;
  box-shadow: 0px 0px 5px #000;
  transform: translateY(0);
}

/* stopwatch */
h2 {
  text-align: center;
  margin: 0;
}

div.time-display, div.controls {
  text-align: center;
}

div.time-display {
  font-size: 3em;
  font-family: 'Roboto Mono';
  text-align: center;
}

.split.display {
  display: block;
  width: 100%;
}

div.controls {
  display: flex;
  justify-content: center;
}

button {
  display: block;
  padding: 0.5em;
  flex-grow: 1;
}

div.stopwatch .metadata {
  color: var(--buttonActiveColor);
  font-size: 0.8em;
  text-align: center;
}

div.stopwatch .metadata * {
  line-height: 1;
}

button {
  border: 0;
  background: var(--buttonColor);
  color: var(--textColor)
  padding: 0.5em;
}

.stopwatch button:focus {
  outline: none;
  background: var(--buttonActiveColor);
}

button.start:not(:only-child) {
  margin-left: 1em;
}

div.controls button.stop {
  margin-right: 2em;
  border-right: 0;
}

button.split {
  margin-left: 2em;
}

button.stacked span {
  display: block;
  width: 100%;
  margin: 0.2em 0;
}

.splits-table {
  clear:both;
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  margin-top: 1em;
  margin-bottom: 2em;
}

.splits-table button {
  display: inline-block;
}

.splits-table .split, .lap {
  display: flex;
  flex-direction: row;
  min-height: 2em;
}

.splits-table .time, .splits-table .label, .splits-table .lap-distance {
  display: flex;
  flex-direction: column;
}

.splits-table .split > *, .splits-table .lap > * {
  flex-grow: 1;
}

.splits-table .split > *, .splits-table .lap > * {
  justify-content: center;
}

.splits-table .lap .lap-distance, .splits-table .label {
  text-align: center;
}

.splits-table .time, .splits-table .controls {
  flex-grow: 0;
}

.splits-table .time {
  width: 5em;
}

.lap-table .split {
  border-left: solid 2px currentColor;
  margin-left: 1em;
}

.lap-table .split::before {
  content: "";
  width: 1em;
  border-bottom: 2px solid currentColor;
  transform: translateY(-50%);
}

button.add {
  display:block;
  border: 0;
  position: relative;
  min-height: 5em;

  text-align:center;
}

button.add * {
  vertical-align: middle;
}

button.add span {
  font-size: 1.5em;
  margin: 0 0 0 1em;
}

form.settings {
  margin-top: 4em;
}

.v-align-top * {
  vertical-align: top;
}

input, select, textarea {
  border: 1px solid var(--buttonColor);
  background: var(--buttonColor);
  color: var(--textColor);
  font-size: 1em;
  padding: 0.25em;
}

input:focus, textarea:focus {
  outline: none;
}

textarea {
  resize: vertical;
  width: calc(100% - 5em);
  max-width: calc(100% - 5em);
}

form.time-display input[type="tel"] {
  width: 2em;
}


.search {
  background: var(--menuBackgroundColor);
  padding: 0.25em 0;
}

.search input {
  background: var(--backgroundColor);
}


.search label {
  background: var(--backgroundColor);
  color: var(--textColor);
  border-left: 1px solid var(--buttonColor);
  border-top: 1px solid var(--buttonColor);
  border-bottom: 1px solid var(--buttonColor);
  display: inline;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  padding: 0.25em 0.25em 0.25em 0.5em;
}

.search input[type="search"] {
  box-sizing: border-box;
  border-left: none;
  border-top-right-radius: 10000px;
  border-bottom-right-radius: 10000px;
  display: inline;
  padding-left: 0.5em;
  width: calc(33% - 1em);
}

.search .date-range {
  margin: 0.25em 0;
  display:inline;
  width: 66%;
}

.search .date-range input {
  box-sizing: border-box;
  width: 31%;
  max-width: 15em;
  padding-left: 0.5em;
}

@media screen and (max-width: 700px) {
  .search {
    display: block;
  }

  .search input[type="search"] {
    width: calc(100% - 2em);
  }

  .search .date-range {
    width: 100%;
    display: block;
  }

  .search .date-range input {
    width: calc(50vw - 0.75em);
    max-width: none;
  }
}

.search .date-range input:first-child {
  border-top-left-radius: 10000px;
  border-bottom-left-radius: 10000px;
}

.search .date-range input:last-child {
  border-top-right-radius: 10000px;
  border-bottom-right-radius: 10000px;
}
