:root {
  --backgroundColor: #FFF;
  --textColor: #000;
  --menuBackgroundColor: #DDD;
  --menuBackgroundColorActive: #BBB;
  --buttonColor: rgba(75, 75, 75, 0.25);
  --buttonActiveColor: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #000;
    --textColor: #FFF;
    --menuBackgroundColor: #222;
    --menuBackgroundColorActive: #444;
    --buttonColor: rgba(175, 175, 175, 0.5);
    --buttonActiveColor: rgba(255, 255, 255, 0.75);
  }
}

main, div#app {
  background: var(--backgroundColor);
  height: 100vh;
  color: var(--textColor);
}

/* tabs */
div.tab-container {
  width: 100%;
  height: calc(100vh - 48px);
  overflow: hidden;
  position: relative;
}

div.tab {
  width: 100%;
  height: inherit;
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: scroll;
  will-change: transform, opacity;
  transition: transform 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s;
}

div.tab.visible {
  transform: translateX(0%);
  opacity: 1;
}

div.tab.invisible {
  opacity: 0;
}

div.tab.invisible#stopwatches {
  transform: translateX(-100%);
}

div.tab.visible + div.tab.invisible#archive {
  transform: translateX(100%);
}

div.tab.invisible + div.tab.invisible#archive {
  transform: translateX(-100%);
}

div.tab.visible ~ div.tab.invisible#settings {
  transform: translateX(100%) !important;
}

div.tab.invisible + div.tab.invisible#settings {
  transform: translateX(-100%);
}

div.tab.invisible#about {
  transform: translateX(100%);
}

div.tab-controls {
    text-align: center;
    display: flex;
    background: var(--menuBackgroundColor);
    cursor: pointer;
    flex-grow: 1;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.tab-controls .active {
  background: var(--menuBackgroundColorActive);
}

div.tab-controls a {
    cursor: pointer;
    flex-grow: 1;
    padding: 1em 0;
    line-height: 0;
}

div.tab-controls a:not(:last-child), div.controls button:not(:last-child) {
    border-right: 1px solid var(--backgroundColor);
}


div.tab#about, div.tab#settings {
  box-sizing: border-box;
  padding: 0.5em;
}

/* stopwatch grid */
.stopwatch-grid {
  display: grid;
  gap: 10px;
}

@media only screen and (min-width: 1200px) {
  .stopwatch-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media only screen and (min-width: 900px) and (max-width: 1199px) {
  .stopwatch-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media only screen and (min-width: 600px) and (max-width: 899px) {
  .stopwatch-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 599px) {
  .stopwatch-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* stopwatch */
h2 {
  text-align: center;
  margin: 0;
}

div.time-display, div.controls {
  text-align: center;
}

div.time-display {
  font-size: 3em;
  font-family: 'Roboto Mono';
  text-align: center;
}

.split.display {
  display: block;
  width: 100%;
}

div.controls {
  display: flex;
  justify-content: center;
}

div.controls button {
  display: block;
  padding: 0.5em;
  flex-grow: 1;
}

.stopwatch button {
  border: 0;
}

.stopwatch button:focus {
  outline: none;
  background: var(--buttonActiveColor);
}

button {
  background: var(--buttonColor);
  color: var(--textColor)
  padding: 0.5em;
}

button.stacked span {
  display: block;
  width: 100%;
  margin: 0.2em 0;
}

table.splits {
  margin: 0 auto;
}

button.add {
  display:block;
  border: 0;
  position: relative;
  min-height: 5em;

  text-align:center;
}

button.add * {
  vertical-align: middle;
}

button.add span {
  font-size: 1.5em;
  margin: 0 0 0 1em;
}

form.settings {
  margin-top: 4em;
}

input[type="text"], input[type="tel"], select {
  border: 1px solid var(--buttonColor);
  background: var(--buttonColor);
  color: var(--textColor);
  font-size: 1em;
  padding: 0.25em;
}

form.time-display input[type="tel"] {
  width: 2em;
}
